@import "../utilities/mixins";
@import "../utilities/colors";
.header {
  height: 70px;
  background-color: black;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      text-decoration: none;
      color: $color-extras;

    }
  }
  .nav {
    &__element {
      padding: 0 26px;

      &:last-child {
        padding-right: 0;
      }
    }
    &__link {
      color: $color-extras;
      font-weight: 700;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 4px solid transparent;
      letter-spacing: 0.1875rem;
      font-size: 1rem;

      &:hover {
        color: $color-hover;
        border-color: $color-hover;
      }
    }
  }
  &__nav {
    display: flex;
    @include mobile {
      position: absolute;
      left: 0;
      top: 95px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      padding-bottom: 20px;
      display: none;
      .nav__element {
        padding: 0;
      }
      .nav__link {
        display: block;
        padding: 14px 20px;
      }
    }
  }

  .menu {
    &__btn {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;
      opacity: 0;

      @include mobile {
        &:checked {
          ~ .header__nav {
            display: flex;
            background-color: black;
          }

          ~ .menu__toggle {
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(2px, 5px);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg) translate(2px, -5px);
              }
            }
          }
        }
      }
    }
    &__toggle {
      display: none;
      span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 3px;
        background-color: grey;
        transition: .3s all ease-in-out;

        &:last-child {
          margin-bottom: 0;
        }
      }
      @include mobile {
        display: block;
      }
    }
  }
}

.logo {
  font-size: 2rem;
  font-weight: 300;
  color: black;
  margin-left: 1em;
}