
.team {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 100px;
  color: $color-text;
  .team__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .team__title-image {
      max-width: 550px;
      max-height: 300px;
      margin-bottom: 1em;
      @include mobile {
        max-height: 220px;
        max-width: 400px;

      }
    }
    .team__title {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
    }
    .team__description {
      font-size: 1.5rem;
      text-align: center;
      max-width: 50%;
      margin-bottom: 2em;
      @include mobile {
        max-width: 90%;
      }
    }
    .team__wrapper {
      .team__content {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .team__single {
          border: 5px solid $color-hover;
          border-top: none;
          border-bottom: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1em;
          padding: 1em;
          flex: 0 0 25%;
          @include mobile {
            flex: 0 0 90%;
          }
          .team__image {
            padding: 2em;
            min-width: 170px;
            min-height: 200px;
          }
          .team__single-image {}
          .team__single-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}