.brands__container {
  padding-top: 4em;
  padding-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .brands__title {
    color: rgb(104, 116, 157);
    font-size: 1.3em;
    padding-bottom: 0.5em;
  }
  .brands__swiper {
    border-top: 1px solid $color-hover;
    padding-top: 2em;
    .brands__swiper-list {
      li {
        max-width: 200px;
        max-height: 150px;
        a {
          margin: auto;
        }
        img {
          margin: auto;
        }

      }
    }

  }
}
