
.counter {
  background-color: black;
  padding-bottom: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include mobile {
    padding-top: 0;
  }
  .counter__title {
    padding: 0.8rem;
    color: $color-text;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 2em;
    @include mobile {
      font-size: 1.5rem;
    }

  }
  .counter__wrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
      gap: 1em;
      width: 80%;
      margin-top: 0;
    }
    .counter__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 20%;
      max-width: 25%;
      padding: 2rem;
      border: 1px solid $color-hover;
      @include mobile {
        max-width: 100%;
        padding: 1rem;
      }
      .counter__element-title {
        font-size: 1.2rem;
        text-align: center;
        color: $color-text;
        @include mobile {
          font-size: 1rem;
        }
      }
      .counter-active {
        text-align: center;
        color: $color-hover;
        font-size: 2rem;
        @include mobile {
          font-size: 1.5rem;
        }
      }
    }
  }
  .counter__text {
    text-align: center;
    padding-top: 3em;
    text-decoration: none;
    color: $color-text;
    font-size: 1.5em;
    max-width: 20%;
    border-bottom: 2px solid $color-hover;
    padding-bottom: 0.5em;
    @include mobile {
      max-width: 80%;
    }

    span {
      font-weight: bold;
      color: $color-hover
    }
  }
}