// base
@import "./styles/base/normalize";
@import "./styles/base/typography";

// components
@import "styles/components/header";
@import "styles/components/hero";
@import "styles/components/benefits";
@import "styles/components/counter";
@import "styles/components/footer";
@import "styles/components/currency_ticker";
@import "styles/components/contact";
@import "styles/components/team";

// layout
// @import "./styles/layout/..."

// pages
// @import "./styles/pages/..."

// utilities
@import "./styles/utilities/variables";
@import "./styles/utilities/mixins";
@import "./styles/utilities/colors";

// vendors
// @import "./styles/vendors/..."




