
.course__chart-container {
  padding-top: 5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  @include mobile {
    flex-direction: column-reverse;
  }
  .course__chart {
    width: 40%;
    @include mobile {
      width: 80%;
      padding-top: 1em;
    }
    img {
    }
  }
  .course__chart-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-start;
    max-width: 40%;
    @include mobile {
      max-width: 100%;
      text-align: center;
      margin-right: 1em;
      margin-left: 1em;
    }
    h3 {
      color: $color-extras;
      font-size: 2.5rem;
      border-bottom: 3px solid $color-extras;
      @include mobile {
        font-size: 1.5rem;
      }
    }
    p {
      color: $color-text;
      font-size: 1.5rem;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
}