.calculator {
  color: $color-text;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  padding-bottom: 50px;

  p {
    font-size: 2rem;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  .calc__box {
    border: 1px solid $color-hover;
    padding: 2em;
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
      max-width: 80%;
    }
    .calc__input {
      background: transparent;
      font-size: 1.3rem;
      border: none;
      border-bottom: 1px solid $color-hover;
      color: $color-text;
      font-weight: bold;
      text-align: center;
      @include mobile {
        max-width: 150px;
      }

      &:focus { outline: none; }
    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .calc__select {
      select {
        background: transparent;
        border: 1px solid $color-hover;
        font-size: 1.3rem;
        color: $color-hover;

        &:focus { outline: none;}
        option{}
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}